AirtelMerchant/web/WEB-INF/wsdl/41.223.58.41_8446/MerchantPaymentService.asmx.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="BulkPaymentWebServiceNewServiceDefinitions" targetNamespace="http://www.obopay.com/xml/bulkpayment/v1" xmlns="" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.obopay.com/xml/bulkpayment/v1" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.obopay.com/xml/bulkpayment/v1" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.obopay.com/xml/bulkpayment/v1" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="java:com.obopay.ws.bulkpayment.zain"/>
      <xs:element name="CheckBalance">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="nickname" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CheckBalanceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CheckBalanceResult" type="java:CheckBalanceResponse" xmlns:java="java:com.obopay.ws.bulkpayment.zain"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TrxPayment">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="referenceid" type="xs:string"/>
            <xs:element name="customermsisdn" type="xs:string"/>
            <xs:element name="nickname" type="xs:string"/>
            <xs:element name="amount" type="xs:decimal"/>
            <xs:element name="batchref" type="xs:string"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="narrative" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TrxPaymentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TrxPaymentResult" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TrxRevert">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="referenceid" type="xs:string"/>
            <xs:element name="narration" type="xs:string"/>
            <xs:element name="nickname" type="xs:string"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TrxRevertResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TrxRevertResult" type="java:TrxRevertResponse" xmlns:java="java:com.obopay.ws.bulkpayment.zain"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:com.obopay.ws.bulkpayment.zain" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.obopay.com/xml/bulkpayment/v1" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="CheckBalanceResponse">
        <xs:sequence>
          <xs:element minOccurs="1" name="CheckBalanceResult" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TrxRevertResponse">
        <xs:sequence>
          <xs:element minOccurs="1" name="TrxRevertResult" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="CheckBalance">
    <WL5G3N0:part element="WL5G3N1:CheckBalance" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="CheckBalanceResponse">
    <WL5G3N0:part element="WL5G3N1:CheckBalanceResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="TrxPayment">
    <WL5G3N0:part element="WL5G3N1:TrxPayment" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="TrxPaymentResponse">
    <WL5G3N0:part element="WL5G3N1:TrxPaymentResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="TrxRevert">
    <WL5G3N0:part element="WL5G3N1:TrxRevert" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="TrxRevertResponse">
    <WL5G3N0:part element="WL5G3N1:TrxRevertResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="BulkPaymentWebServiceNew">
    <WL5G3N0:operation name="CheckBalance" parameterOrder="parameters">
      <WL5G3N0:input message="WL5G3N1:CheckBalance"/>
      <WL5G3N0:output message="WL5G3N1:CheckBalanceResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="TrxPayment" parameterOrder="parameters">
      <WL5G3N0:input message="WL5G3N1:TrxPayment"/>
      <WL5G3N0:output message="WL5G3N1:TrxPaymentResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="TrxRevert" parameterOrder="parameters">
      <WL5G3N0:input message="WL5G3N1:TrxRevert"/>
      <WL5G3N0:output message="WL5G3N1:TrxRevertResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="BulkPaymentWebServiceNewServiceSoapBinding" type="WL5G3N1:BulkPaymentWebServiceNew">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="CheckBalance">
      <WL5G3N2:operation soapAction="CheckBalance" style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="TrxPayment">
      <WL5G3N2:operation soapAction="TrxPayment" style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="TrxRevert">
      <WL5G3N2:operation soapAction="TrxRevert" style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="BulkPaymentWebServiceNewService">
    <WL5G3N0:port binding="WL5G3N1:BulkPaymentWebServiceNewServiceSoapBinding" name="BulkPaymentWebServiceNewSoapPort">
      <WL5G3N2:address location="https://41.223.58.41:8446/MerchantPaymentService.asmx"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>